  <div class="job-container">

    {{#each (groupJobs jobs jobType) as |job key|}}
      <div class="job-card mastered-card item-job" data-item-id='{{job._id}}'>
        <a class='item-control item-edit'title='{{localize "DOCUMENT.Update" type='Item'}}'>
          <i class='fas fa-edit'></i>
        </a>
        <h2 class="job-title">
          {{captalizeFirstLetterOfWords (localize job.name)}}
        </h2>


        <div class="job-level-container">
          <button class="job-edit" value="-" data-job="{{job._id}}">-</button> 
          <p data-job-name='job-level'>{{job.system.level}} | 10</p> 
          <button class="job-edit" value="+" data-job="{{job._id}}">+</button>
        </div>
        {{literal (recoverFreeBenefits job)}}
        <div class="job-description">JOB DESCRIPTION</div>
      </div>
    {{/each}}
  </div>
