<ol class='items-list'>
  {{#hasJobsType system.joobs 'mastered'}}
  <div class="job-header"><span>MASTERED {{recoverJobQuantity 'mastered'}}</span> <a class="hidden-job-button">></a></div>
  <div class="job-container ">
    {{#each (groupJobs system.joobs 'mastered') as |job key|}}
      <div class="job-card mastered-card" >
        <h2 class="job-title">{{captalizeFirstLetterOfWords (localize job.label)}}</h2>

        <div class="job-level-container">
          <button class="job-edit" value="-" data-job="{{key}}">-</button> 
          <p data-job-name='job-level'>{{job.level}} | 10</p> 
          <button class="job-edit" value="+" data-job="{{key}}">+</button>
        </div>
        {{literal (recoverFreeBenefits job)}}
        <div class="job-description">JOB DESCRIPTION</div>
      </div>
    {{/each}}
  </div>
  {{/hasJobsType}}
  {{#hasJobsType system.joobs 'trained'}}
  <div class="job-header">TRAINED {{recoverJobQuantity 'trained'}} <a class="hidden-job-button">></a></div>
  <div class="job-container ">
    {{#each (groupJobs system.joobs 'trained') as |job key|}}
      <div class="job-card trained-card" >
        <h2 class="job-title">{{captalizeFirstLetterOfWords (localize job.label)}}</h2>

        <div class="job-level-container">
          <button class="job-edit" value="-" data-job="{{key}}">-</button> 
          <p data-job-name='job-level'>{{job.level}} | 10</p> 
          <button class="job-edit" value="+" data-job="{{key}}">+</button>
        </div>
        {{literal (recoverFreeBenefits job)}}
        <div class="job-description">JOB DESCRIPTION</div>
      </div>
    {{/each}}
  </div>
  {{/hasJobsType}}
  {{#hasJobsType system.joobs 'untrained'}}
  <div class="job-header">UNTRAINED {{recoverJobQuantity 'untrained'}} <a class="hidden-job-button">></a></div>
  <div class="job-container ">
    {{#each (groupJobs system.joobs 'untrained') as |job key|}}
      <div class="job-card untrained-card" >
        <h2 class="job-title">{{captalizeFirstLetterOfWords (localize job.label)}}</h2>

        <div class="job-level-container">
          <button class="job-edit" value="-" data-job="{{key}}">-</button> 
          <p data-job-name='job-level'>{{job.level}} | 10</p> 
          <button class="job-edit" value="+" data-job="{{key}}">+</button>
        </div>
        {{literal (recoverFreeBenefits job)}}
        <div class="job-description">JOB DESCRIPTION</div>
      </div>
    {{/each}}
  </div>
  {{/hasJobsType}}
</ol>

