<ol class='items-list'>
  {{#hasJobsType system.jobs 'mastered'}}
  <div class="items-header">MASTERED {{recoverJobQuantity 'mastered'}}</div>
  <div class="job-container">
    {{#each (groupJobs system.jobs 'mastered') as |job key|}}
      <div class="job-card mastered-card" >
        <h2 class="job-title">{{captalizeFirstLetterOfWords (localize job.label)}}</h2>

        <div class="job-level-container">
          <button class="job-edit" value="-" data-job="{{key}}">-</button> 
          <p data-job-name='job-level'>{{job.level}} | 10</p> 
          <button class="job-edit" value="+" data-job="{{key}}">+</button>
        </div>
        {{literal (recoverFreeBenefits key job)}}
        <div class="job-description">JOB DESCRIPTION</div>
      </div>
    {{/each}}
  </div>
  {{/hasJobsType}}
  {{#hasJobsType system.jobs 'trained'}}
  <div class="items-header trained-card">TRAINED {{recoverJobQuantity 'trained'}}</div>
  <div class="job-container">
    {{#each (groupJobs system.jobs 'trained') as |job key|}}
      <div class="job-card" >
        <h2 class="job-title">{{captalizeFirstLetterOfWords (localize job.label)}}</h2>

        <div class="job-level-container">
          <button class="job-edit" value="-" data-job="{{key}}">-</button> 
          <p data-job-name='job-level'>{{job.level}} | 10</p> 
          <button class="job-edit" value="+" data-job="{{key}}">+</button>
        </div>
        {{literal (recoverFreeBenefits key job)}}
        <div class="job-description">JOB DESCRIPTION</div>
      </div>
    {{/each}}
  </div>
  {{/hasJobsType}}
  {{#hasJobsType system.jobs 'untrained'}}
  <div class="items-header">UNTRAINED {{recoverJobQuantity 'untrained'}}</div>
  <div class="job-container untrained-card">
    {{#each (groupJobs system.jobs 'untrained') as |job key|}}
      <div class="job-card" >
        <h2 class="job-title">{{captalizeFirstLetterOfWords (localize job.label)}}</h2>

        <div class="job-level-container">
          <button class="job-edit" value="-" data-job="{{key}}">-</button> 
          <p data-job-name='job-level'>{{job.level}} | 10</p> 
          <button class="job-edit" value="+" data-job="{{key}}">+</button>
        </div>
        {{literal (recoverFreeBenefits key job)}}
        <div class="job-description">JOB DESCRIPTION</div>
      </div>
    {{/each}}
  </div>
  {{/hasJobsType}}
</ol>

