<ol class='items-list'>
  <nav class="gears-sheet-tabs tabs" data-group="primary">
    <select name="system.preferencesFlags.sheetFlags.abilityFlag">
      {{#select system.preferencesFlags.sheetFlags.abilityFlag}}
        <label>{{captalizeFirstLetter (localize @root.config.uiHeader.job)}}</label>
        <option value="{{@root.config.enums.utils.ALL}}">{{captalizeFirstLetter (localize @root.config.utils.all)}}</option>
        {{#each jobs as |job key|}}
          {{#if (compareTwoNumbers job.system.level ">" 0)}}
            <option value="{{job.name}}">{{captalizeFirstLetter job.name}}</option>
          {{/if}}
        {{/each}}
      {{/select}}
    </select>
  </nav>

  <div>
    {{> "systems/fabula-ultima/templates/actor/parts/powers/actor-abilities.hbs"}}
  </div>
</ol>