<ol class='items-list'>
  <nav class="gears-sheet-tabs tabs" data-group="primary">
    <a class="hidden-job-button item {{#if (eq system.preferencesFlags.sheetFlags.jobTabFlag 'mastered')}} active {{/if}}" data-job-type="mastered">{{captalizeText (localize @root.config.jobTypeName.master)}}({{recoverJobQuantity jobs 'mastered'}})</a>
    <a class="hidden-job-button  item {{#if (eq system.preferencesFlags.sheetFlags.jobTabFlag 'trained')}} active {{/if}}" data-job-type="trained">{{captalizeText (localize @root.config.jobTypeName.trained)}}({{recoverJobQuantity jobs 'trained'}})</a>
    <a class="hidden-job-button  item {{#if (eq system.preferencesFlags.sheetFlags.jobTabFlag 'untrained')}} active {{/if}}" data-job-type="untrained">{{captalizeText (localize @root.config.jobTypeName.untrained)}}({{recoverJobQuantity jobs 'untrained'}})</a>
  </nav>

  <div>
    <div class="hands gears-tab {{#unless (eq system.preferencesFlags.sheetFlags.jobTabFlag 'mastered')}} hidden-container {{/unless}}">
      {{> "systems/fabula-ultima/templates/actor/parts/jobs/actor-jobs-job.hbs" jobType="mastered"}}
    </div>
    <div class="armors gears-tab {{#unless (eq system.preferencesFlags.sheetFlags.jobTabFlag 'trained')}} hidden-container {{/unless}}">
      {{> "systems/fabula-ultima/templates/actor/parts/jobs/actor-jobs-job.hbs" jobType="trained"}}
    </div>
    <div class="accessories gears-tab {{#unless (eq system.preferencesFlags.sheetFlags.jobTabFlag 'untrained')}} hidden-container {{/unless}}">
      {{> "systems/fabula-ultima/templates/actor/parts/jobs/actor-jobs-job.hbs" jobType="untrained"}}
    </div>
  </div>
</ol>

