<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <label for="system.cost" class="resource-label">{{localize @root.config.uiHeader.cost}}</label>
      <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{console system}}
      <fieldset class="weapon-attributes-container">
      <legend>{{captalizeText (localize @root.config.uiHeader.attack)}}</legend>
          {{#each system.attack.attr as |attr key|}}
          <select name="system.attack.attr.{{key}}">
            {{#select attr}}
              {{#each  @root.config.enums.attributes as |name type|}}
                <option value="{{name}}">{{name}}</option>
              {{/each}}
            {{/select}}
          </select>
          {{/each}}
          <span> + </span>
          <input type="text" class="input-block" name="system.attack.atkBonus" value="{{system.attack.atkBonus}}" data-dtype="Number"/>
      </fieldset>
    </div>
  </section>

</form>
