<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="container-2grid">
        <div>
          <label for="system.cost" class="resource-label">{{localize @root.config.uiHeader.cost}}</label>
          <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
        </div>
        <div>
          <label for="system.martial" class="resource-label">{{captalizeFirstLetterOfWords (localize @root.config.uiHeader.martial)}}</label>
          <input type="checkbox" id="martial" name="system.martial" {{checked system.martial}}>
        </div>
      </div>
      
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{captalizeFirstLetter (localize @root.config.tabName.description)}}</a>
    <a class="item" data-tab="attributes">{{captalizeFirstLetter (localize @root.config.tabName.attributes)}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="container-3grid">
        <fieldset class="weapon-attributes-container">
        <legend>{{captalizeText (localize @root.config.uiHeader.defense)}}</legend>
          <input type="text" class="input-block" name="system.bonus.defense" value="{{system.bonus.defense}}" data-dtype="Number"/>
        </fieldset>
        <fieldset class="weapon-attributes-container">
        <legend>{{captalizeText (localize @root.config.uiHeader.mDefense)}}</legend>
          <input type="text" class="input-block" name="system.bonus.magicDefense" value="{{system.bonus.magicDefense}}" data-dtype="Number"/>
        </fieldset>
        <fieldset class="weapon-attributes-container">
        <legend>{{captalizeText (localize @root.config.uiHeader.initiative)}}</legend>
          <input type="text" class="input-block" name="system.initiative" value="{{system.initiative}}" data-dtype="Number"/>
        </fieldset>
      </div>
      <fieldset class="weapon-quality-container">
      <legend>{{captalizeText (localize @root.config.uiHeader.quality)}}</legend>
        <select name="system.quality">
          {{#select system.quality}}
            {{#each  @root.config.enums.weaponQualities as |name key|}}
              <option value="{{name}}">{{recoverQualityName name}}</option>
            {{/each}}
          {{/select}}
        </select>
        {{#each (recoverQualityInfo system.quality) as |quality key|}}
          <p>{{localize quality}}</p>
        {{/each}}
      </fieldset>
    </div>
  </section>

</form>
