<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <p>LEVEL: {{system.level}} | 10</p>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <fieldset class="job-attributes-container">
      <legend>{{captalizeText (localize @root.config.uiHeader.resources)}}</legend>
      {{#each system.jobBenefits as |resource key|}}
        <div class="job-resources-input">
          <label for="system.jobBenefits.{{key}}">{{localize (lookup @root.config.resourcesAbbreviations key)}}</label>
          <input type="text" name="system.jobBenefits.{{key}}" value="{{resource}}" data-dtype="Number"/>
        </div>
      {{/each}}
    </fieldset>
    <fieldset class="job-attributes-container">
      <legend>{{captalizeText (localize @root.config.uiHeader.magic)}}</legend>
        <div class="job-resources-input">
          <label for="system.casterBenefits.caster">{{captalizeFirstLetter (localize @root.config.jobItemBenefits.caster)}}</label>
          <input type="checkbox" id="caster" name="system.casterBenefits.caster" {{checked system.casterBenefits.caster}}>
        </div>
        <div class="job-resources-input">
          <label for="system.casterBenefits.caster">{{captalizeFirstLetter (localize @root.config.jobItemBenefits.attribute)}}</label>
          <select name="system.casterBenefits.attribute">
            {{#select system.casterBenefits.attribute}}
              {{#each  @root.config.attributes as |attr key|}}
                <option value="{{key}}">{{localize attr}}</option>  
              {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="job-resources-input">
          <label for="system.casterBenefits.ritual">{{captalizeFirstLetter (localize @root.config.jobItemBenefits.ritual)}}</label>
          <input type="checkbox" id="ritual" name="system.casterBenefits.ritual" {{checked system.casterBenefits.ritual}}>
        </div>
    </fieldset>
    <fieldset class="job-attributes-container">
      <legend>{{captalizeText (localize @root.config.uiHeader.martial)}}</legend>
      {{#each system.martialBenefits as |martial key|}}
        <div class="job-resources-input">
          <label for="system.jobBenefits.{{key}}">{{captalizeFirstLetter (localize (lookup @root.config.martialGear key))}}</label>
          <input type="checkbox" id="{{key}}" name="system.martialBenefits.{{key}}" {{checked martial}}>
        </div>
      {{/each}}
    </fieldset>
    <fieldset class="job-attributes-container">
      <legend>{{captalizeText (localize @root.config.uiHeader.others)}}</legend>
        <div class="job-resources-input">
          <label for="system.project">{{captalizeFirstLetter (localize @root.config.jobItemBenefits.project)}}</label>
          <input type="checkbox" id="project" name="system.project" {{checked system.project}}>
        </div>
    </fieldset>
  </section>

</form>
